.style-home {
  margin-top: -2rem;
  margin-bottom: -3.5rem;
  margin-left: 4rem !important ;
  margin-right: 4rem !important;
} 
@media (min-width: 640px) {
  .style-home {
    margin-left: 10%; 
    margin-right: 10%; 
  }
}


.chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}